# ============================================================
# LARISKA AI — Backend Environment Variables
# ============================================================

# --- Supabase ---
SUPABASE_URL=https://uxlmbisqxmmteahlvjfp.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InV4bG1iaXNxeG1tdGVhaGx2amZwIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODQxMDk1NjEsImV4cCI6MjA5OTY4NTU2MX0.03utmpwsnAc63oyUgBH6wG4rthLqtDWUV4oV92ELkaw
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InV4bG1iaXNxeG1tdGVhaGx2amZwIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4NDEwOTU2MSwiZXhwIjoyMDk5Njg1NTYxfQ.kKtm1Axe2kLAphfpLL0bYJx5VawYYnNGOC3Hp5KmaTI

DATABASE_URL=postgresql://postgres:HjNt7%253%255pEG-n%2F@db.uxlmbisqxmmteahlvjfp.supabase.co:5432/postgres

# --- WhatsApp Cloud API ---
WHATSAPP_TOKEN=EAAOxTY0oPkIBSB46EqbJufxzuL1FaARTD1dSCwovYZAePh5EoURinGDS7SRZAkcMcwnaimZB6Msid2ZC0ysD9uZA7ZBwzLbC7Mrfj49ZCpIlBZBZBNCTXVNl3g1iJZATSpdtLjbItAZAUzpeLvWGUZCk6yq8xokmJ38Dj7cH7924vX33yVD9cdoKr1RW41YLpwDitpDM4j9royrNSGcgf0r1hD0PsLzkBCRv7EpD5jnnZBllBjy9OVNCZAZCx6UedUBCxww73kzFkahuN5gR2bPFeftSri86X4MUgZDZD
WHATSAPP_PHONE_NUMBER_ID=1209093188961689
WHATSAPP_VERIFY_TOKEN=lariska_secret_verify_123

# --- LLM Provider ---
LLM_PROVIDER=gemini
GEMINI_MODEL=gemini-3.5-flash-lite
GEMINI_API_KEY=AQ.Ab8RN6JfR-f9yU-mWHRagDL7TSVpSyFL7VWUBM2z9RyHxBdJ2Q
GOOGLE_API_KEY=AQ.Ab8RN6JfR-f9yU-mWHRagDL7TSVpSyFL7VWUBM2z9RyHxBdJ2Q
LLM_API_KEY=AQ.Ab8RN6JfR-f9yU-mWHRagDL7TSVpSyFL7VWUBM2z9RyHxBdJ2Q

# --- Payment Gateway (Midtrans) ---
MIDTRANS_SERVER_KEY=Mid-server-xagFW14jvUIVGOS_c_5Mj-8f
MIDTRANS_CLIENT_KEY=Mid-client-WGxZf2cNXROyfKZY
MIDTRANS_IS_PRODUCTION=true

# --- App Config ---
ENVIRONMENT=development
APP_SECRET_KEY=lariska-dev-secret
BACKEND_CORS_ORIGINS=["http://localhost:3000"]
LOG_LEVEL=INFO